{% if page.author %} {% assign author = site.data.authors[page.author] %}{% else %}{% assign author = site.owner %} {% endif %}

<div class="cover-card table-cell table-top">
  {% if author.avatar %}
  <img src="{{ site.url }}/img/{{ author.avatar }}" alt="" class="avatar">
  {% endif %}
  <a href="{{ site.url }}/" class="author_name">{{ author.name }}</a>

  {% include social-links.html %}


  {% for post in site.posts %}
  
  {% assign index = 1 %}

  {% if index <= 10 %}{% assign formattedIndex = index | prepend: '0' %}{% endif %}

  <li>
    <a href="{{ site.url }}{{ post.url }}" class="post-title" title="{{ post.title }}">
    {{ formattedIndex }} {{ post.title }}
    </a>
  </li>
  {% assign index = index | plus: 1 %}
  {% endfor %}


</div>
